<clr-tabs *ngIf="$config | async as config" clrLayout="vertical">

  <!-- Config: Tabs -->
  <ng-container *ngFor="let tab of config.tabs">
    <clr-tab>
      <button clrTabLink >
          {{tab.name}}
      </button>
      <clr-tab-content *clrIfActive>
        <!-- Config: Tab Name -->
        <h3 translate>Name</h3>
        <clr-input-container>
          <label translate>Identifier</label>
          <input clrInput type="text" [(ngModel)]="tab.name" (blur)="doSaveChanges(config)">
        </clr-input-container>

        <h3 translate>Labels</h3>
        <!-- Config: Tab Labels -->
        <ng-container *ngFor="let label of tab.label">
          <clr-input-container>
            <label>{{label.language}}</label>
            <input clrInput [(ngModel)]="label.label">
          </clr-input-container>
        </ng-container>
      </clr-tab-content>
    </clr-tab>
  </ng-container>

  <!-- Config: Add Tab -->
  <clr-tab>
    <clr-tab>
      <button clrTabLink (click)="doAddTab(config)">
        <clr-icon class="color-primary" shape="plus"></clr-icon>
      </button>
    </clr-tab>
  </clr-tab>

</clr-tabs>
