<!-- ./Footer - Four Columns -->
<footer class="site-footer">
   <hr class="line">

   <div class="clr-row align-items-center">

     <div class="clr-col-md-5 text-center">
       <p class="mt-2 mb-0 color-2">© {{today | date:'y'}} SpaceParrots UG. All Rights Reserved</p>
     </div>

     <div class="clr-col-md-2 text-center">
       <img src="assets/logo_black.png" alt="" class="logo">
     </div>

     <div class="clr-col-md-5 text-center">
       <nav class="clr-justify-content-center">
         <a class="btn btn-link" target="_blank" href="https://www.spaceparrots.de/impressum" translate>Impressum</a>
         <!--<a class="btn btn-link" routerLink="/datenschutz" translate>Datenschutz</a>-->
       </nav>
     </div>
   </div>

</footer>
